/* root variables */
:root {
  --background-color: #F0F0F0;
  --heading-font: 'League Spartan', sans-serif;
  --body-font: 'Open Sans', sans-serif;
  --font-color-main: #272727;
  --font-color-secondary: #979797;
  --card-color: #FCFCFC;
  --card-shadow: 0px 4px 10px rgba(111, 128, 143, 0.49);
  --border-radius: 16px;
}

html {
  background-color: var(--background-color);
}

/* Start of Dashboard */
.dashboard__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 38px;
  width: 85%;
  max-width: 1500px;
  margin: 0 auto 30px;
}

.dashboard__user {
  width: 85%;
  margin: 25px auto;
  font-family: var(--heading-font);
  font-weight: bold;
  color: var(--font-color-main);
  font-size: 32px;
  text-transform: capitalize;
}

.dashboard__link {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--card-color);
  box-shadow: var(--card-shadow);
  border-radius: var(--border-radius);
  padding: 1.3rem 1.1rem;
  box-sizing: border-box;
}

.dashboard__link img {
  width: 50px;
  margin-right: 21px;
}

.dashboard__link a {
  font-family: var(--heading-font); 
  font-weight: bold;
  color: var(--font-color-main);
  text-decoration: none;
  font-size: 27px;
  display: flex;
  align-items: center;
}